:root {
    --main-bg-color: black;
    --text-color: white;
    --light-grey-color: rgba(255,255,255,0.1);
    --med-grey-color: rgba(255,255,255,0.4);
    --dark-grey-color: rgba(255, 255, 255, .6);
}

body {
    text-align: center;
    font-size: 4rem;
    color: var(--text-color);
    background: var(--main-bg-color);
    font-family: 'Roboto', sans-serif;

    max-width: 90%;
    margin: auto;

    position: relative;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -30%);
}

.centered span {
    font-family: 'Montserrat', sans-serif;
    font-size: 10rem;
    text-shadow: 2px 2px 8px #F66733;
}

.centered div {
    font-family: 'Roboto', sans-serif;
    font-size: 2rem;
    background-color: rgba(0,0,0,0.4);
    /* background-color: var(--dark-grey-color); */
    text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
}

img {
    width: 100%;
}

header {
    background-color: var(--med-grey-color);
    display: flex;
    flex-direction: row;
}

header span {
    margin: auto;
}

header a {
    /* font-family: 'Montserrat', sans-serif; */
}

a:link {
    color: var(--text-color);
}

a:visited {
    color: var(--med-grey-color);
    /* color: white; */
}